ul.event-list
  list-style-type: none
  column-count: 2

  @media only screen and (max-width: 720px)
    column-count: 1

  li
    display: flex
    gap: 0.5rem
    break-inside: avoid

    time
      flex-shrink: 0


ul.event-list-cm
  list-style-type: none
  display: grid
  grid-template-columns: 7em 1fr 7fr 4fr
  grid-template-rows: auto
  gap: 0 0.25rem
  padding-left: 0

  @media only screen and (max-width: 720px)
    grid-template-columns: minmax(auto, 8rem) auto

  li
    display: grid
    grid-template-columns: subgrid
    grid-column: span 4
    min-height: 2lh
    align-items: center
    @media only screen and (max-width: 720px)
      grid-column: span 2
      padding: 0.25rem

    &:nth-child(odd)
      background: var(--accent-bg)

    time
       justify-self: center
    .o a
      font-size: 1.5rem
    .c, .o, .p
      padding: 0 0.25rem

    @media only screen and (max-width: 720px)
      time, .p
        grid-row: 1
      .o, .c
        grid-row: 2
        font-size: 1rem

      time, .o
        grid-column: 1
      .p, .c
        grid-column: 2

      .o a
        font-size: 1.15rem

ul.talentlist-section
  list-style-type: none
  column-count: 2
  @media only screen and (max-width: 720px)
    column-count: 1
    padding-left: 1rem

  li.talent-with-count
    display: flex
    justify-content: space-between

ul.column-rule
  column-rule: solid 1px var(--dark-green)

.card
  padding-left: 0
  display: grid
  grid-template-rows: auto
  grid-template-columns: 3em auto auto

  &.free-card
    grid-template-columns: 7em auto auto

  .match, .header, .delim
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: auto
    grid-column: span 3

    span
      padding: 0.1em 0.3em

    .n, .ed
      text-align: right
      break-inside: avoid

    .nt
      display: block
      font-size: 0.8rem

      ul
        padding-left: 1em

  .header
    background: var(--accent-bg)
    font-weight: bold

  .delim
    justify-items: center

    span
      font-weight: bold
      grid-column: span 3

  .match:nth-child(odd),.delim:nth-child(odd)
    background: var(--accent-bg)

  @media only screen and (max-width: 720px)
    grid-template-columns: 1fr 9fr

    &.free-card
      grid-template-columns: auto

      .ed
        min-width: 10ch
        break-inside: avoid

    .match, .header
      display: grid
      column-gap: 0.3em
      row-gap: 0

      .p, .c
        grid-column: 2

.churn
  list-style-type: none
  padding-left: 0
  display: grid
  grid-template-rows: auto
  grid-template-columns: 1.2fr 1fr auto auto 1fr

  .entry, .header
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: auto
    grid-column: span 5

    span
      padding: 0.1em 0.3em

  .header
    font-weight: bold
    background: var(--accent-bg)

  .entry:nth-child(odd)
    background: var(--accent-bg)

details[open] + .card
    display: none

.championship
  display: grid
  padding-left: 0
  grid-template-rows: auto
  grid-template-columns: minmax(2fr, auto) auto auto
  gap: 0.3em

  .n, .c, .r
    padding: 0.1em 0.3rem
    white-space: pre-line

  .header
    font-weight: bold
    background: var(--accent-bg)

  .champ, .header
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: auto
    grid-column: span 3

  .champ:nth-child(odd)
    background: var(--accent-bg)


  @media only screen and (max-width: 720px)
    grid-template-columns: 3fr 6fr

    .champ, .header
      grid-template-rows: auto auto
      grid-column: span 2

      .c
        grid-column: 1
        grid-row: 1 / span 2

      .r
        grid-column: 2
        grid-row: 1

      .n
        grid-column: 2
        grid-row: 2
        font-size: 1rem

    .header .n
      display: none



.career
  padding-left: 0
  display: grid
  grid-template-rows: auto
  grid-template-columns: 6em 1fr 8fr
  gap: 0.3em

  .d, .o, .r
    padding: 0.1em 0.3em

  .header
    font-weight: bold
    background: var(--accent-bg)

  .entry, .header
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: auto
    grid-column: span 3

  .entry.unofficial, .entry.incomplete, .entry.predicted
    .r
      font-style: italic

  .entry:nth-child(odd)
    background: var(--accent-bg)

@media only screen and (max-width: 720px)
  .career
    display: grid
    grid-template-rows: auto
    grid-template-columns: 1fr 8fr
    align-items: stretch

    .header, .entry
      grid-template-columns: subgrid
      grid-template-rows: 1lh auto
      grid-column: span 2

      .d
        grid-column: 1

      .o
        grid-column: 1

      .r
        grid-column: 2
        grid-row: 1 / span 2

.years
  padding-left: 0
  list-style-type: none
  display: grid
  grid-template-columns: 6em auto
  grid-template-rows: auto
  gap: 0.3em

  .header, .year
    display: grid
    grid-template-columns: subgrid
    grid-column: span 2

  .header
    font-weight: bold
    background: var(--accent-bg)

    .o
      margin-left: 0.3em

  .y
    text-align: right

  .year .o
    display: flex

  .year:nth-child(odd)
    background: var(--accent-bg)

.pwf
  display: flex
  flex-flow: row wrap
  align-content: space-between
  gap: 0.2rem

  .flag
    min-width: 1.5rem

  .name
    flex-shrink: 0

