html.dark .career-mpy div:nth-child(odd) {
    background: var(--dimGrey);
}
html.light .career-mpy div:nth-child(odd) {
    background: var(--grey);
}

.career-mpy {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        span { padding-right: 1em; }
    }
    div.header {
        :nth-child(2) { flex-grow: 1; }
    }
}

