@import "theme"
// @import url("syntax-theme-dark.css") (prefers-color-scheme: dark)
// @import url("syntax-theme-light.css") (prefers-color-scheme: light)
@import "search"
@import "gallery"
@import "timeline"
@import "nav"
@import "tables"
@import "lightbox"
@import "pagination"
@import "icons-badges"
@import "articles"

//@import "fonts/inter/inter-web/inter.css"
// @font-face
//   font-family: 'Ubuntu Mono'
//   src: url("fonts/ubuntu-mono/UbuntuMono-Regular.ttf")
//   font-display: swap

// Global variables
\:root
  // Fonts
  --sans-font: "Twemoji Country Flags", "Inter", sans-serif
  --mono-font: "Ubuntu Mono", monospace
  --timeline-border: var(--dark-yellow)

img
  max-width: 100% !important

h1, h2, h3, h4, h5, h6
  margin-bottom: .25rem
  display: flex
  align-items: flex-start
  text-align: left

@mixin trailing-line($color)
  content: ''
  background: var($color)
  flex-grow: 1
  min-width: 2rem
  margin: auto
  margin-left: 1rem

h1.title
  color: var(--dark-green)

h1.title-with-flag
  display: flex
  justify-content: space-between
  align-items: center

.event-date-location:has(+ h1)
  color: var(--dark-red)
  font-weight: bold
  font-size: 1.75rem
  flex-basis: 100%

.event-date-location + h1:not(.title)
  margin-top: 0

h1:not(.title)
  color: var(--dark-red)
  display: flex
  align-items: flex-start
  text-align: left
  margin-top: 1rem

  &:after
    @include trailing-line(--dark-red)
    height: 0.3rem

h2
  color: var(--dark-green)
  text-align: left
  &:after
    @include trailing-line(--dark-green)
    height: 0.26rem

h3
  color: var(--dark-blue)
  &:after
    @include trailing-line(--dark-blue)
    height: 0.2rem

h4
  color: var(--dark-yellow)
  &:after
    @include trailing-line(--dark-yellow)
    height: 0.144rem

h5
  color: var(--dark-gray)
  &:after
    @include trailing-line(--dark-gray)
    height: 0.115rem

h6
  color: var(--dark-gray)
  &:after
    @include trailing-line(--dark-gray)
    height: 0.096rem

blockquote
  margin: 0rem 0 1rem 1rem  //TODO: tweak
  padding: 0.1rem 0.4rem
  border-left: 0.35rem solid var(--accent)
  background: var(--accent-bg)
  color: var(--text-light)
  font-style: italic

code
  color: var(--text-light)
  background-color: var(--accent-bg)
  padding: 0.1rem 0.14rem
  border-radius: 5px

hr
  color: var(--dark-gray)
  background-color: var(--dark-gray)
  height: 0.2rem
  border: none

.content
  padding-top: 1.5rem

.content>img,
.content>video,
.content>p>img,
.content>p>video
  max-width: 100%
  height: auto
  border-radius: 5px

.music-link
  & + .music-link
    &:before
      content: " | "

a:hover
  color: var(--dark-aqua)
  text-decoration: underline

.svg-embed svg
  max-width: 100%

.event-cast-members
  list-style-type: none

  dt
    font-weight: bold
    &:after
      content: ":"
