html.dark card > :nth-child(odd) {
    background: var(--dimGrey);
}

html.light card > :nth-child(odd) {
    background: var(--grey);
}

card {
    display: flex;
    flex-direction: column;

    match, header {
        display: flex;
        span { padding-right: 1em; flex: 1; }
        span.p { flex: 10; }
        span.c { flex: 4; }
    }

    header > span {
        font-weight: bold;
    }

    margin-bottom: 1ex;
}

details[open] + table.card {
    display: none;
}
