{% set events_taxonomy = get_taxonomy(kind="venue") %}
{% set main_slug = page.slug %}
{% set other_keys =page.taxonomies | get(key="same-venue", default=[])  %}

{% set venue_event_pages = [] %}
{% set main_slug_events = events_taxonomy.items | filter(attribute="slug", value=main_slug) | map(attribute="pages") | first %}
{% if main_slug_events %}
  {% set_global venue_event_pages = venue_event_pages | concat(with=main_slug_events) %}
{% endif %}
{% for key in other_keys %}
  {% set key_event_pages = get_taxonomy_term(kind="venue", term=key, required=false) %}
  {% if not key_event_pages %}{% continue %}{% endif %}
  {% set_global venue_event_pages = venue_event_pages | concat(with=key_event_pages.pages) %}
{% endfor %}

{% if venue_event_pages | length > 0 %}
  {% set events_by_year = venue_event_pages | group_by(attribute="year") -%}
  {% set_global years = [] -%}
  {% for year, _ign in events_by_year -%}{% set_global years = years | concat(with=year) %}{% endfor -%}
  {% set lowest_year = page.extra | get(key="year_list_start", default=2010) | int(default=2010) -%}
  {% set highest_year = page.extra | get(key="year_list_end", default=2099) | int(default=2099) -%}

  {% for thisyear in years|sort|reverse %}
    {% if thisyear|int > highest_year or thisyear|int < lowest_year -%}{% continue %}{% endif %}
    {% set_global venue_events_thisyear = events_by_year[thisyear] -%}

    {% if venue_events_thisyear | length == 0 -%}{% continue %}{% endif %}
    <h3>{{ thisyear }}</h3>
    <ul class="event-list">
      {% for event_page in venue_events_thisyear | sort(attribute="date") | reverse -%}
        <li>
          {% set dt = event_page.date | date(format="%Y-%m-%d") -%}
          <time datetime="{{ dt }}">{{ dt }}</time>
          {%- set has_photos = event_page.extra is containing("gallery") -%}
          {%- set has_video = event_page.extra | get(key="has_video", default=false) -%}
          {%- include "events/av_icons.html" -%}
          <a class="nu" href="{{ get_url(path=event_page.path) }}" {% include "events/link_aria.html" %}>
            {{ event_page.title }}
          </a>
        </li>
      {% endfor -%}
    </ul>
  {% endfor %}
{% endif %}
