BEGIN:VCALENDAR
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:Polish Wrestling Events tpwres.pl
X-WR-TIMEZONE:Europe/Warsaw
{% set section = get_section(path="e/_index.md") %}
{% for subs_path in section.subsections %}
  {% set subsection = get_section(path=subs_path) %}
  {% set events = subsection.pages %}
  {% for event in events %}
BEGIN:VEVENT
SUMMARY:{{ event.title }}
URL:{{ get_url(path=event.relative_path) }}
DTSTART;VALUE=DATE:{{ event.date|date(format="%Y%m%d") }}
{% include "calendar/location.html" %}
{% include "calendar/orgs.html" %}
DESCRIPTION:See <a href="{{event.permalink}}">event page</a> on tpwres.pl
TZID:Europe/Warsaw
UID:{{ event.slug ~ "@tpwres.pl" }}
END:VEVENT
  {% endfor %}
{% endfor %}

SUMMARY:MZW Charity Show 2015
DTSTART;VALUE=DATE:20150111
UID:2015-01-11-mzw-charity-show-2015
DESCRIPTION:<a href="mzw/2015-01-11-mzw-charity-show-2015">MZW Charity Sho
 w 2015</a>
LOCATION:GOSiR Głuchołazy
ORGANIZER;CN="Maniac Zone Wrestling";CUTYPE=GROUP;ROLE=CHAIR:https://tpwre
 s.pl/o/mzw
TZID:Europe/Warsaw
URL:https://tpwres.pl/e/mzw/2015-01-11-mzw-charity-show-2015
END:VEVENT
BEGIN:VEVENT
SUMMARY:MZW @ Wyciskanie Sztangi 2016
DTSTART;VALUE=DATE:20160312
UID:2016-03-12-mzw-wyciskanie-sztangi-2016
DESCRIPTION:<a href="mzw/2016-03-12-mzw-wyciskanie-sztangi-2016">MZW @ Wyc
 iskanie Sztangi 2016</a>
LOCATION:GOSiR Głuchołazy
ORGANIZER;CN="Maniac Zone Wrestling";CUTYPE=GROUP;ROLE=CHAIR:https://tpwre
 s.pl/o/mzw
TZID:Europe/Warsaw
URL:https://tpwres.pl/e/mzw/2016-03-12-mzw-wyciskanie-sztangi-2016
END:VEVENT
