<div title="{{ hint_text }}"
    {% if ib %}style="display: inline-block"{% endif %}
    {% if cnt is defined %}
      style="flex-grow: {{ cnt/total }};
            background: {{ bg }};
            margin: 0 0.25em;
            text-align: center;"
    {% endif %}>
  <a href='{{ get_url(path="@/o/ddw.md") }}' class="org-badge nu badge-ppw"
     style="background: #71171f url({{ get_url(path='ddw-badge-2.svg') }}); background-size: cover; color: transparent; white-space: nowrap;"
     title="{{ hint_text }}">
     <span class="c">DDW</span>
  </a>
</div>
