<div title="{{ hint_text }}"
    {% if ib %}style="display: inline-block"{% endif %}
    {% if cnt is defined %}
      style="flex-grow: {{ cnt/total }};
            background: {{ bg }};
            margin: 0 0.25em;
            text-align: center;"
    {% endif %}>
  <a href='{{ get_url(path="@/o/kpw.md") }}' class="org-badge nu badge-ppw"
     style="background: #133762 url({{ get_url(path='kpw-badge.svg') }}); background-size: cover; color: transparent; white-space: nowrap;"
     title="{{ hint_text }}">
     <span class="c">KPW</span>
  </a>
</div>
