<div title="{{ hint_text}}"
     {% if ib %}style="display: inline-block"{% endif %}
     {% if cnt is defined %}
       style="flex-grow: {{ cnt/total }};
              background: {{ bg }};
              margin: 0 0.25em;
              text-align: center;"
     {% endif %}
     >
  <a href='{{ get_url(path="@/o/mzw.md") }}' class="org-badge nu badge-mzw"
     style="background: #208315 url({{ get_url(path='mzw-badge.svg') }}); background-size: cover; background-position-y: -2px; color: transparent; white-space: nowrap;">
    <span class="c">MZW</span>
  </a>
</div>
