<div title="{{ hint_text}}"
     {% if ib %}style="display: inline-block"{% endif %}
     {% if cnt is defined %}
       style="flex-grow: {{ cnt/total }};
              background: {{ bg }};
              margin: 0 0.25em;
              text-align: center;"
     {% endif %}
     >
  <style>
    .badge-ppw>.w { color: #c32e30; text-decoration: none !important; }
    .badge-ppw>.d { color: #4f55d9; text-decoration: none !important; }
  </style>
  <a href='{{ get_url(path="@/o/ppw.md") }}' class="org-badge nu badge-ppw"
     style="background: #5b007e"
     title="{{ hint_text }}">
  <span class="w">P</span><span class="d">p</span><span class="w">W</span>
  </a>
</div>
