<div title="{{ hint_text }}" class="badge {% if ib %}ib{% endif %}{% if cnt is defined %}stretchy{% endif %}"
     {% if cnt is defined %} style="flex-grow: {{ cnt/total }}; background: {{ bg }};" {% endif %}>
  <a href='{{ get_url(path="@/o/wwe.md") }}' class="org-badge nu"
     style="background: url({{ get_url(path='wwe-badge.svg') }}) no-repeat 0 0 / cover, #000; background-position: center;"
     title="{{ hint_text }}">
     <span>WWE</span>
  </a>
  <small style="color: {{ text_fg }}">{{ cnt|default(value="") }}</small>
</div>
