<script type="text/javascript">
// Get the theme toggle input
var currentTheme = window.localStorage.getItem("theme"); // If the current local storage item can be found

// Function that will switch the theme based on the if the theme toggle is checked or not
function switchTheme() {
  if (document.documentElement.getAttribute("data-theme") === "dark") {
    document.documentElement.setAttribute("data-theme", "light");
    // Set the user's theme preference to dark
    localStorage.setItem("theme", "light");
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
    // Set the user's theme preference to light
    localStorage.setItem("theme", "dark");
  }
}

// Get the current theme from local storage
if (currentTheme === null || currentTheme === undefined) {
  if (window.matchMedia) {
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        console.log('user prefers dark scheme, going dark');
        document.documentElement.setAttribute("data-theme", "dark");
    } else {
        console.log('user prefers light scheme');
        document.documentElement.setAttribute("data-theme", "light")
    }
  } else {
      console.log('matchMedia not supported, defaulting to light scheme')
      document.documentElement.setAttribute("data-theme", "light")
  }
} else {
  // Set the body data-theme attribute to match the local storage item
  document.documentElement.setAttribute("data-theme", currentTheme);
}

function switchThemeOG() {
  document.documentElement.setAttribute("data-theme", "og");
  localStorage.setItem("theme", "og");
}
</script>

<script type="module" src="/search.js"></script>
