<script type="text/javascript">
// Get the theme toggle input
var doc = document.documentElement

// Function that will switch the theme based on the if the theme toggle is checked or not
function switchTheme() {
  if (doc.getAttribute("data-theme") === "dark") {
    doc.setAttribute("data-theme", "light");
    // Set the user's theme preference to dark
    localStorage.setItem("theme", "light");
  } else {
    doc.setAttribute("data-theme", "dark");
    // Set the user's theme preference to light
    localStorage.setItem("theme", "dark");
  }
}

var currentTheme = window.localStorage.getItem("theme") || "auto"; // If the current local storage item can be found
if (currentTheme === "auto")
  doc.removeAttribute('data-theme')
else
  doc.setAttribute('data-theme', currentTheme)

function switchThemeOG() {
  doc.setAttribute("data-theme", "og");
  localStorage.setItem("theme", "og");
}
</script>

<script type="module" src="/search.js"></script>
