{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{% if page.date %}
<span class="date">{{ macros::format_date(date=page.date) }}</span>
<!-- <p class="subtitle"><strong>{{ macros::format_date(date=page.date) }}</strong></p> -->
{% endif %}
{% if config.extra.mensch_show_reading_time and not page.extra.mensch_hide_reading_time %}
  {% set previous = config.extra.mensch_show_word_count and not page.extra.mensch_hide_word_count %}
  {% if previous or page.date %}
    <span class="separator">&#183;</span> <span class="reading-time">{{ page.reading_time }} min <svg class="feather-inline"><use href="{{ get_url(path="feather-sprite.svg", trailing_slash=false) }}#book-open"/></svg></span>
  {% else %}
    <span class="reading-time">{{ page.reading_time }} min <svg class="feather-inline"><use href="{{ get_url(path="feather-sprite.svg", trailing_slash=false) }}#book-open"/></svg></span>
  {% endif %}
{% endif %}
{{ page.content | safe }}
{% endblock content %}