{% set section = get_section(path="e/_index.md") %}
{% set venues_section = get_section(path="v/_index.md") %}
{% set_global all_events = section.pages %}

{% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path) %}
  {% set_global all_events = all_events | concat(with=subsection.pages) %}
{% endfor %}

{% set events_by_year = all_events | group_by(attribute="year") %}
{% set_global years = [] %}
{% for year, _ignore in events_by_year %}{% set_global years = years | concat(with=year) %}{% endfor %}

{% set i = 0 %}
{% for thisyear in years|sort|reverse %}
    {% if i >= max_events %}{% break %}{% endif %}
    <h2>{{ thisyear }}</h2>
    <ul class="event-list-cm">
        {% for page in events_by_year[thisyear] | sort(attribute="date") | reverse %}
        {% if i >= max_events %}{% break %}{% endif %}
        <li data-date="{{ page.date }}">
           <time>{{page.date}}</time>
           <span class="o">{% include "events/org_badges.html" %}</span>
           <a class="p" href="{{get_url(path=page.path)}}">{{ page.title }}</a>
           <span class="c">
              {% if page.extra.city %}
                {% if page.extra.city is iterable %}
                  {% set cities = page.extra.city | join(sep=" / ") %}
                {% elif page.extra.city is string %}
                  {% set cities = page.extra.city %}
                {% endif %}
              {% else %}
                {% set cities = "" %}
              {% endif %}
              {%- if cities and page.taxonomies.venue -%}
                {%- set venue = page.taxonomies.venue | first -%}
                {%- include "events/alt_venue_name.html" -%}
              {% elif cities %}
                {{ cities }}
              {% endif %}
           </span>
        </li>
        {% set_global i = i + 1 %}
        {% endfor %}
    </ul>
{% endfor %}
