<ul class="years">
  <li class="header">
    <span class="y">Year</span>
    <span class="o">Organizations</span>
  </li>
  {% for year in years | sort | reverse %}
    <li class="year">
      {% if enable_matchlist_links %}
        <a class="y" href="#matchlist-{{ year }}" title="Jump to {{ year }}">{{ year }}</a>
      {% else %}
        <span class="y">{{ year }}</span>
      {% endif %}
      <div class="o">
        {{ macros::orgs_stretchy(career=mycareer, year=year, styles=org_styles) }}
      </div>
    </li>
  {% endfor %}
</ul>
