.pagination
  margin: calc(var(--global-line-height) * 2) auto
  padding: 0 calc(var(--global-space) * 2)
  width: var(--page-width)
  grid-column: 2

  .org-header
    display: flex
    justify-content: space-around
  .links
    background: var(--accent-bg)
    display: flex
    justify-content: space-between

@media only screen and (max-width: 720px)
  .pagination .links span
    display: inline-block
    text-align: center
