{% set data = load_data(literal=body,format="yaml") %}

{% set hide_results = page.extra | get(key="hide_results", default=false) -%}
{% if predicted %}{% set hide_results = true %}{% endif %}

{# Results are displayed before the card. This is because the stylesheet hides a <card> element that follows an open <details> element. By default the details element is closed, and the results are not shown. #}
{% if not hide_results %}
<details>
    <summary><span data-nosnippet>Toggle results</span></summary>
    <ul class="card">
        <li class="header">
            <span class="n">No.</span>
            <span class="p">Results</span>
            <span class="c">Details</span>
        </li>
    {% set_global rownum = 1 %}
    {% for row in data %}
      {% if row is object %}
        {% include "card/object_row.html" %}
        {% set_global rownum = 1 %}
      {% else %}
        {% include "card/result_row.html" %}
        {% set_global rownum = rownum + 1 %}
      {% endif %}
    {% endfor %}
    </ul>
</details>
{% endif %}

<ul class="card">
    <li class="header">
        <span class="n">No.</span>
        <span class="p">Participants</span>
        <span class="c">Details</span>
    </li>
    {% set_global rownum = 1 %}
    {% for row in data %}
      {% if row is object %}
        {% include "card/object_row.html" %}
        {% set_global rownum = 1 %}
      {% else %}
        {% include "card/match_row.html" %}
        {% set_global rownum = rownum + 1 %}
      {% endif %}
    {% endfor %}
</ul>

{% set last_row = data | last %}
{% if last_row is object and 'credits' in last_row %}
  {% set credits = last_row | get(key='credits') %}
  <h4>Cast and crew</h4>
  <dl class="event-cast-members">
  {% for role, people in credits %}
    <dt>{{ role }}</dt>
    <dd>{{ people | markdown(inline=true) | safe }}</dd>
  {% endfor %}
  </dl>
{% endif %}
