{% if link %}
  {% set url = link %}
  {% set text = body %}
{% elif yt %}
  {# music(yt='?v=abcdef') #}
  {% set url = "//youtube.com/watch/" ~ yt %}
  {% set text = "YouTube" %}
{% elif apple %}
  {% set country = cc | default(value='us') %}
  {% set url = "//music.apple.com/" ~ country ~ "/album/" ~ apple %}
  {% set text = "Apple&nbsp;Music" %}
{% elif spot %}
  {% set url = "//open.spotify.com/track/" ~ spot %}
  {% set text = "Spotify" %}
{% else %}
  {% set url = "#" %}
  {% set bad = true %}
  {% set text = "???" %}
{% endif %}
<a href="{{ url }}">
  {{ text | safe }}
</a>
