{% macro promolink_color(code, hint_text='', styles) %}
  {% set ib = false %}
  {% set style = styles|get(key=code, default=[]|group_by(key=0)) %}
  {% set text_fg = style|get(key='text_fg', default='#fff') %}
  {% if code == "mcw" %}
    {% include "badges/mcw.html" %}
  {% elif code == "ddw" %}
    {% include "badges/ddw.html" %}
  {% elif code == "kpw" %}
    {% include "badges/kpw.html" %}
  {% elif code == "ppw" %}
    {% include "badges/ppw.html" %}
  {% elif code == "mzw" %}
    {% include "badges/mzw.html" %}
  {% elif code == "ptw" %}
    {% include "badges/ptw.html" %}
  {% elif code == "tbw" %}
    {% include "badges/tbw.html" %}
  {% elif code == "dfw" %}
    {% include "badges/dfw.html" %}
  {% elif code == "wwe" %}
    {% include "badges/wwe.html" %}
  {% elif code == "low" %}
    {% include "badges/low.html" %}
  {% elif code == "pxw" %}
    {% include "badges/pxw.html" %}
  {% elif code == "piwg" %}
    {% include "badges/piwg.html" %}
  {% elif code == "~splat" %}
    {% include "badges/splat.html" %}
  {% else %}
    {% set org_path = "@/o/" ~ code ~ ".md" -%}
    <div title="{{ hint_text }}" class="badge">
      <a href="{{ get_url(path=org_path) }}" class="nu org-badge"
        style="background: {{ style|get(key='bg', default='#000') }};
               color: {{ style|get(key='fg', default='#fff') }};
        ">
        {{ style|get(key='text', default=code|upper) }}
    </a>
    </div>
  {% endif %}
{% endmacro %}

{% macro promolink_color_span(code, hint_text='', styles) %}
  {% set ib = true %}
  {% set style = styles|get(key=code, default=[]|group_by(key=0)) %}
  {% set text_fg = style|get(key='text_fg', default='#fff') %}
  {% if code is starting_with("~") %}
    {% set slug = code | replace(from="~", to="") %}
  {% endif %}
  {% if code == "mcw" %}
    {% include "badges/mcw.html" %}
  {% elif code == "ddw" %}
    {% include "badges/ddw.html" %}
  {% elif code == "kpw" %}
    {% include "badges/kpw.html" %}
  {% elif code == "ppw" %}
    {% include "badges/ppw.html" %}
  {% elif code == "mzw" %}
    {% include "badges/mzw.html" %}
  {% elif code == "ptw" %}
    {% include "badges/ptw.html" %}
  {% elif code == "tbw" %}
    {% include "badges/tbw.html" %}
  {% elif code == "dfw" %}
    {% include "badges/dfw.html" %}
  {% elif code == "wwe" %}
    {% include "badges/wwe.html" %}
  {% elif code == "low" %}
    {% include "badges/low.html" %}
  {% elif code == "pxw" %}
    {% include "badges/pxw.html" %}
  {% elif code == "piwg" %}
    {% include "badges/piwg.html" %}
  {% elif code == "~splat" %}
    {% include "badges/splat.html" %}
  {% else %}
    {% set org_slug = slug | default(value=code) %}
    {% set org_path = "@/o/" ~ org_slug ~ ".md" -%}
    <div title="{{ hint_text }}" class="badge ib">
      <a
        href="{{ get_url(path=org_path) }}" class="nu org-badge"
        style="background: {{ style|get(key='bg', default='#000') }};
               color: {{ style|get(key='fg', default='#fff') }};
        ">
        {{ style|get(key='text', default=code|upper) }}
    </a>
    </div>
  {% endif %}
{% endmacro %}

{% macro orgs_stretchy(career, year, styles) %}
  {% set thisyear = career | get(key=year|as_str, default=[]|group_by(key=0)) %}
  {% set_global total = 0 %}
  {% for org, cnt in thisyear %}
    {% set_global total = total + cnt %}
  {% endfor %}
  {% for org, cnt in thisyear %}
    {% set style = styles|get(key=org, default=[]|group_by(key=0)) %}
    {% set hint_text = '' %}
    {% set bg = style|get(key='bg', default='#000') %}
    {% set fg = style|get(key='fg', default='#fff') %}
    {% set text_fg = style|get(key='text_fg', default='#fff') %}
    {% if org == "mcw" %}
      {% include "badges/mcw.html" %}
    {% elif org == "ddw" %}
      {% include "badges/ddw.html" %}
    {% elif org == "kpw" %}
      {% include "badges/kpw.html" %}
    {% elif org == "ppw" %}
      {% include "badges/ppw.html" %}
    {% elif org == "mzw" %}
      {% include "badges/mzw.html" %}
    {% elif org == "ptw" %}
      {% include "badges/ptw.html" %}
    {% elif org == "tbw" %}
      {% include "badges/tbw.html" %}
    {% elif org == "dfw" %}
      {% include "badges/dfw.html" %}
    {% elif org == "wwe" %}
      {% include "badges/wwe.html" %}
    {% elif org == "low" %}
      {% include "badges/low.html" %}
    {% elif org == "pxw" %}
      {% include "badges/pxw.html" %}
    {% elif org == "piwg" %}
      {% include "badges/piwg.html" %}
    {% elif org == "~splat" %}
      {% include "badges/splat.html" %}
    {% else %}
      <div class="badge stretchy"
           style="flex-grow: {{ cnt / total }};
                  background: {{ bg }};
                  color: {{ fg }};"
            title="{{ cnt }} matches">
        {{ style|get(key='text', default=org|upper) }}
        <small>{{ cnt }}</small>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
