{% set final = row | last %}
{% if final is object %}
  {% set talent = row | slice(end=-1) | sort %}
  {% set title = final | get(key="c", default="") %}
  {% set stip = final | get(key="s", default="") %}
  {% set segment = final | get(key="g", default=false) %}
  {% set result = final | get(key="r", default="") %}
  {% set nc = final | get(key="nc", default=false) %}
{% else %}
  {% set talent = row | sort %}
  {% set title = "" %}
  {% set stip = "" %}
  {% set segment = false %}
  {% set result = "" %}
  {% set nc = false %}
{% endif %}
{% set sep = " <strong>vs</strong> " | safe %}
<li class="match">
    <span class="n">{{rownum}}</span>
    <span class="p">
      {% if segment %}
        <strong>Segment:</strong> {{ talent | join(sep=", ") | markdown(inline=true) | safe }}
      {% else %}
        {{ talent | join(sep=sep) | replace(from=";", to=" w/") | markdown(inline=true) | safe }}
      {% endif %}
    </span>
    <span class="c">
        {{ title | markdown(inline=true) | safe }}
        {% if segment and segment is string %}
          {{ segment | markdown(inline=true) | safe }}
        {% endif %}
        {{ stip | markdown(inline=true) | safe }}
    </span>
</li>
