{% set data = load_data(literal=body,format="yaml") %}

<h3>Card</h3>

{# Results are displayed before the card. This is because the stylesheet hides a <card> element that follows an open <details> element. By default the details element is closed, and the results are not shown. #}
{% set hide_results = page.extra | get(key="hide_results", default=false) -%}
{% if not hide_results %}
<details>
    <summary>Toggle results</summary>
    <table class="card results">
      <thead>
        <tr>
           <th>No.</th>
           <th class="p">Results</th>
           <th class="c">Details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
            {% include "card_result_row.html" %}
        {% endfor %}
      </tbody>
    </table>
</details>
{% endif %}

<table class="card">
    <thead>
        <tr>
        <th>No.</span>
        <th class="p">Participants</th>
        <th class="c">Details</th>
        </tr>
    </thead>
    <tbody>
      {% for row in data %}
        {% include "card_match_row.html" %}
    {% endfor %}
    </tbody>
</table>
