{% set data = load_data(literal=body,format="yaml") %}

<h3>Card</h3>

{# TODO: Disable results for upcoming events #}
{# Results are displayed before the card. This is because the stylesheet hides a <card> element that follows an open <details> element. By default the details element is closed, and the results are not shown. #}
{% set hide_results = page.extra | get(key="hide_results", default=false) -%}
{% if not hide_results %}
<details>
    <summary>Toggle results</summary>
    <card>
        <header>
            <span class="n">No.</span>
            <span class="p">Results</span>
            <span class="c">Details</span>
        </header>
    {% for row in data %}
      {% include "fcard_result_row.html" %}
    {% endfor %}
    </card>
</details>
{% endif %}

<card>
    <header>
        <span class="n">No.</span>
        <span class="p">Participants</span>
        <span class="c">Details</span>
    </header>
    {% for row in data %}
        {% include "fcard_match_row.html" %}
    {% endfor %}
</card>
