{% extends "base.html" %}
{% import "macros/articles.html" as articles %}

{% block content %}
  {% set categories = get_taxonomy(kind="category") %}
  {% include "articles/category_list.html" %}
  <h2>All articles</h2>

  <section class="article-list">
    {% for page in section.pages %}
      <article>
        {{ articles::cover(article=page) | safe }}
        <div class="blurb">
          <a class="title" href="{{ page.permalink }}">{{ page.title }}</a>
          {{ page.summary | safe }}
          <a class="continue" href="{{ page.permalink }}">Continue reading</a>
        </div>
      </article>
    {% endfor %}
  </section>
{% endblock %}
