<table class="header">
  <tbody>
    <tr>
      <td>
        <h1 class="sitename">{{ config.title }}</h1>
        <form class="search-widget">
          <label style="flex-grow: 1">Search
            <input type="search" value="" id="search_input" autocomplete="off" tabIndex="1"/>
          </label>
          <button class="search-button" type="submit">
            Search
          </button>
          <div class="search-results">
            <ul class="search-results-items">
            </ul>
          </div>
        </form>
      </td>
      <td>
        <ul style="list-style-type: none">
          {% for link in config.extra.mensch_links -%}
            <li>
              {% set link_class = link | get(key='class', default='') -%}
              {% set link_icon = '' %}
              {% if link.path -%}
                <a href="{{ get_url(path=link.path) }}"
                  class="{{ link_class }}"
                  title="{{ link.name }}">
                  {{ link_icon | safe }}
                  <span class="t">{{ link.name }}</span>
                </a>
              {% elif link.url -%}
                <a href="{{link.url}}" class="{{ link_class }}" title="{{ link.name }}">
                  {{ link_icon | safe }}
                  <span class="t">{{ link.name }}</span>
                </a>
              {% endif -%}
            </li>
          {% endfor -%}
        </ul>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
