{% set root = config.extra.gallery_root ~ page.path %}
{# TODO: Gallery #}
{# <h2 id="gallery">Gallery</h2> #}
{# <section> #}
{#   <ul class="gallery"> #}
{#     {% for key, item in page.extra.gallery %} #}
{#       {% set path = item.path -%} #}
{#       {% set caption = item | get(key="caption", default="") -%}  #}
{#       <li> #}
{#         <figure id="fig_{{ key }}"> #}
{#           <a href="#img-{{ key }}"> #}
{#             <img src="{{ root ~ 'tn/' ~ path }}" alt=""/> #}
{#           </a> #}

{#           <a class="lightbox" href="#fig_{{ key }}" id="img-{{ key }}"> #}
{#             <span style="background-image: url('{{ root ~ path }}')"></span> #}
{#           </a> #}
{#           <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption> #}
{#         </figure> #}
{#       </li> #}
{#     {% endfor %} #}
{#   </ul> #}
{# </section> #}
