{% set alias_map = load_data(path="data/aliases.json") %}
{% set all_my_names = [] %}
{% for alias, path in alias_map %}
  {% if path == page.relative_path %}{% set_global all_my_names = all_my_names | concat(with=alias) %}{% endif %}
{% endfor %}
{% set appearances = load_data(path="data/crew_appearances.json") %}
{% set my_appearances = [] %}
{% for name in all_my_names %}
  {% set napps = appearances | get(key=name, default=[]) %}
  {% set_global my_appearances = my_appearances | concat(with=napps) %}
{% endfor %}

{% set appearances_by_date = my_appearances | sort(attribute='d') %}

{% if my_appearances %}
  {% set apl = appearances_by_date | length %}
  {% if fold_crew_appearances == "always" or (fold_crew_appearances == "auto" and apl > fold_crew_appearances_at) %}
    <details>
      <summary class="header h3-like">Crew appearances</summary>
      {% include "career/crew_table.html" %}
    </details>
  {% else %}
    <h3>Crew appearances</h3>
    {% include "career/crew_table.html" %}
  {% endif %}
{% endif %}
