{% set org_styles = config.extra.org_styles %}
{% set careers = load_data(path="data/career_v2.json") %}
{% set empty_obj = [] | group_by(attribute='0') %}
{% set career_key = "@/" ~ page.relative_path %}
{% set mycareer = careers | get(key=career_key, default=empty_obj) %}
{% set enable_matchlist_links = true %}

{% if mycareer %}
  {% set_global years = [] -%}
  {% for year, _ignore in mycareer -%}
    {% set_global years = years | concat(with=year) -%}
  {% endfor -%}

  <h3>Appearances per promotion and year</h3>
  {% include "career/years.html" %}
{% endif %}


{% set fold_matchlist_config = config.extra | get(key="fold_matchlist", default="auto") %}
{% set fold_matchlist_at = config.extra | get(key="fold_matchlist_at") %}
{% set fold_matchlist = page.extra | get(key="fold_matchlist", default=fold_matchlist_config) %}
{% include "career/matchlist.html" %}

{% set fold_crew_appearances_config = config.extra | get(key="fold_crew_appearances", default="auto") %}
{% set fold_crew_appearances_at = config.extra | get(key="fold_crew_appearances_at") %}
{% set fold_crew_appearances = page.extra | get(key="fold_crew_appearances", default=fold_crew_appearances_config) %}
{% include "career/crew_appearance_list.html" %}
