{% extends "index.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% set org_styles = config.extra.org_styles %}
{% set all_matches = load_data(path="data/all_matches.json") %}
{% set appearances = load_data(path="data/appearances.json") %}
{% set crew_appearances = load_data(path="data/crew_appearances.json") %}
{% set all_names = load_data(path="data/all_time_roster.json") %}

{% set alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
{% set alpha_variants = load_data(literal="{S: [S, Ś], L: [L, Ł], Z: [Z, Ź, Ż]}", format='yaml') %}
{% set flag_dict = load_data(path="const/flags-by-code.json") %}
{% set all_emojis = load_data(path="const/emojis.yaml") %}
{% set empty_obj = []|group_by(key=0) %}

{% for letter in alphabet %}
  {% set_global talents = [] %}
  {% set al = alpha_variants|get(key=letter, default=[letter]) %}
  {% for av in al %}
    {% for name_pair in all_names %}
      {% set talent_name = name_pair[1]|replace(from='"', to='')|trim_start_matches(pat='The ') %}
      {% if talent_name is starting_with(av) %}
        {% set_global talents = talents|concat(with=[name_pair]) %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if talents|length > 0 %}
    <h2 id="{{letter|upper}}">{{ letter|upper }}</h2>
    <ul class="talentlist-section">
      {% for talent in talents %}
        {% set name = talent[1] %}
        {% set flavor = talent[2] %}
        {% set page_path = talent[3] %}
        {% set flag = talent[5] %}{# country is at [4] but we don't use it here #}
        {% set_global career_entry = false %}
        {% if flavor == 'P' %}
          {% set_global person_name = name %}
          {% set_global appearances_entry = appearances|get(key=name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
          {% set_global display_match_links = false %}
          {% set page_path = "@/" ~ page_path %}
          <li class="pwf">
            {% include "roster/person_with_flag.html" %}
            {% include "roster/person_orgs_matches.html" %}
          </li>
        {% elif flavor == 'T' %}
          {% set career_name = talent[4] %}
          {% set_global person_name = name %}
          {% set_global appearances_entry = appearances|get(key=career_name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=career_name, default=[]) %}
          {% set_global display_match_links = false %}
          {% set page_path = "@/" ~ page_path %}
          <li class="pwf">
            {% include "roster/person_with_flag.html" %}
            {% include "roster/person_orgs_matches.html" %}
          </li>
        {% elif flavor == 'A' %}
          {% set page = get_page(path=page_path) %}
          {% set career_key = page.extra|get(key='career_name', default=page.title) %}
          {% set_global appearances_entry = appearances|get(key=name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
          {% set_global person_name = '<em>' ~ name ~ '</em>' %}
          {% set_global display_match_links = false %}
          {% set page_path = "@/" ~ page_path %}
          <li class="pwf">
            {% include "roster/person_with_flag.html" %}
            {% include "roster/person_orgs_matches.html" %}
          </li>
        {% elif flavor == 'U' %}
          {% set_global person_name = name %}
          {% set_global appearances_entry = appearances|get(key=name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
          {% set_global display_match_links = true %}
          <li class="pwf">
            {% include "roster/unlinked_person.html" %}
            {% include "roster/person_orgs_matches.html" %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% endblock content %}
