{% set root = config.extra.gallery_root ~ page.path %}
<h2>Gallery</h2>
<section>
  <ul class="gallery">
    {# TODO: Flexbox #}
    {% for _key, item in page.extra.gallery -%}
      {% set path = item.path -%}
      {% set caption = item | get(key="caption", default="") -%}
      <li>
          <figure>
            <a href="{{ root ~ path }}">
              <img src="{{ root ~ 'tn/' ~ path }}" alt=""/>
            </a>
            <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
          </figure>
      </li>
    {% endfor %}
  </ul>
</section>
