{% set root = config.extra.gallery_root ~ page.path %}
<h2 id="gallery">Gallery</h2>
<section>
  <ul class="gallery">
    {% for _key, item in page.extra.gallery %}
      {% set path = item.path -%} 
      {% set caption = item | get(key="caption", default="") -%} 
      <li>
        <figure id="fig{{ loop.index }}">
          <a href="#img{{ loop.index }}">
            <img src="{{ root ~ 'tn/' ~ path }}" alt=""/>
          </a>

          <a class="lightbox" href="#fig{{ loop.index }}" id="img{{ loop.index }}">
            <span style="background-image: url('{{ root ~ path }}')"></span>
          </a>
          <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>
