{% set root = config.extra.gallery_root ~ page.path %}
<h2 id="gallery">Gallery</h2>
<section>
  <ul class="gallery">
    {% if page.extra.gallery.manifest %}
      {% set gallery_items = load_data(path=page.extra.gallery.manifest) %}
    {% else %}
      {% set gallery_items = page.extra.gallery %}
    {% endif %}
    {% for key, item in gallery_items %}
      {% set path = item.path -%}
      {% set caption = item | get(key="caption", default="") -%} 
      <li>
        <figure id="fig_{{ key }}">
          <a href="#img-{{ key }}">
            <img src="{{ root ~ 'tn/' ~ path }}" alt=""/>
          </a>

          <a class="lightbox" href="#fig_{{ key }}" id="img-{{ key }}">
            <span style="background-image: url('{{ root ~ path }}')"></span>
          </a>
          <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>
