{% set final = row | last %}
{% if final is object %}
    {% set talent = row | slice(end=-1) | sort %}
    {% set title = final | get(key="c", default="") %}
    {% set stip = final | get(key="s", default="") %}
{% else %}
    {% set talent = row | sort %}
    {% set title = "" %}
    {% set stip = "" %}
{% endif %}
{% set sep = " <strong>vs</strong> " | safe %}
<tr class="match">
    <td>{{loop.index}}</td>
    <td class="p">
        {{ talent | join(sep=sep) | markdown(inline=true) | safe }}
    </td>
    <td class="c">
        {{ title | markdown(inline=true) | safe }}
        {{ stip }}
    </td>
</tr>
