{% extends "index.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.content | safe }}

{% set org_styles = config.extra.org_styles %}
{% set country_names = load_data(path="const/country_names.yml") %}
{% set flag_dict = load_data(path='const/flags-by-code.json') %}
{% set all_matches = load_data(path="data/all_matches.json") %}
{% set appearances = load_data(path="data/appearances.json") %}
{% set crew_appearances = load_data(path="data/crew_appearances.json") %}
{% set_global all_names = [] %}

{% set all_names = load_data(path="data/all_time_roster.json") %}

{% set grouped_by_alias = all_names | group_by(attribute="3") %}
{% set talent_with_pages = all_names | filter(attribute="2", value="P") %}
{% set unlinked_talent = all_names | filter(attribute="2", value="U") %}
{% set head_names = [] | concat(with=talent_with_pages) | concat(with=unlinked_talent) | sort(attribute="0") %}

{% set all_countries = all_names | map(attribute='4') | sort | unique %}
{% set empty_obj = []|group_by(key=0) %}
{% set rbc_grouped = head_names | group_by(attribute='4') %}

{% for country, country_name in country_names %}
  {% set recs_by_country = rbc_grouped[country] %}
  {% if recs_by_country | length == 0 %}{% continue %}{% endif %}
  {% set recs_by_country = recs_by_country | sort(attribute='0') %}

  <h2 id="{{ country_name|slugify }}">
    {{ flag_dict | get(key=country, default='') }}
    {{ country_name }}
  </h2>
  <ul class="talentlist-section">
    {% for talent in recs_by_country %}
        {% set name = talent[1] %}
        {% set flavor = talent[2] %}
        {% set filename = talent[3] %}
        {% set flag = talent[5] %}
        {% set_global career_entry = false %}
        {% if flavor == 'P' %}
          {% set_global person_name = name %}
          {% set_global appearances_entry = appearances|get(key=name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
          {% set_global display_match_links = false %}
          {% set page_path = "@/" ~ filename %}
          {% set my_aliases = grouped_by_alias | get(key=filename) | sort(attribute="0") %}
          <li class="{% if my_aliases|length > 1 %}pwa{% endif %}">
            <span class="pwf">
              <a class="nu name" href="{{ get_url(path=page_path) }}">{{ person_name | safe }}</a>
              {% include "roster/person_orgs_matches.html" %}
            </span>
            {% if my_aliases|length > 1 %}
              <ul class="nf">
                {% for alias in my_aliases %}
                  {% set name = alias[1] %}
                  {% set flavor = alias[2] %}
                  {% if flavor == 'P' %}{% continue %}{% endif %}
                  {% set_global person_name = '<em>' ~ name ~ '</em>' %}
                  {% set_global appearances_entry = appearances | get(key=name, default=[]) %}
                  {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
                  {% set_global display_match_links = true %}
                  <li>
                    <span class="pwf">
                      <a class="nu name" href="{{ get_url(path=page_path) }}">{{ person_name | safe }}</a>
                      {% include "roster/person_orgs_matches.html" %}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% elif flavor == 'U' %}
          {% set_global person_name = name %}
          {% set_global appearances_entry = appearances|get(key=name, default=[]) %}
          {% set_global crew_appearances_entry = crew_appearances|get(key=name, default=[]) %}
          {% set_global display_match_links = true %}
          <li class="pwf">
            <span class="name">{{ person_name }}</span>
            {% include "roster/person_orgs_matches.html" %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
