{% extends "base.html" %}
{% block title %} {{ page.title }} {{ page.date }} {% endblock %}
{% block og_title %}
  <meta property="og:title" content="{{ page.title }} {{ page.date }}" />
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="/tables.css") }}"/>
{% endblock %}
{% block content %}
<h1>{{ page.title }}</h1>

{{ page.content | safe }}

<p class="tagsData">
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
{% endfor %}
{% endif %}
</p>
{% endblock content %}

{% block pagination %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set folder = section.components | last %}
  {# Only events in an org subdirectory get paginated. #}
  {% if config.extra.org_events_dir | get(key=folder) %}
    <span class="prev">
      {% if page.higher %}
        Previous:
        <a href="{{ get_url(path=page.higher.path) }}">{{ page.higher.title }}</a>
      {% endif %}
    </span>
    <span class="prev">
      {% if page.lower %}
        Next:
        <a href="{{ get_url(path=page.lower.path) }}">{{ page.lower.title }}</a>
      {% endif %}
    </span>
  {% endif %}
{% endblock %}
