{% extends "base.html" %}
{% block title %} {{ page.title }} {{ page.date }} {% endblock %}
{% block og_title %}
  <meta property="og:title" content="{{ page.title }} {{ page.date }}" />
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="/tables.css") }}"/>
{% endblock %}
{% block content %}
<h1>{{ page.title }}</h1>

{{ page.content | safe }}

{% if page.extra.gallery -%}
  {% include "auto_lightbox.html" -%}
{% endif -%}

{% endblock content %}

{% block pagination %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set folders = section.components %}
  {# Only events in an org subdirectory get paginated. #}
  {% if folders|length > 1 %}
    <span class="prev">
      {% if page.higher %}
        Previous:
        <a href="{{ get_url(path=page.higher.path) }}">{{ page.higher.title }}</a>
      {% endif %}
    </span>
    <span class="prev">
      {% if page.lower %}
        Next:
        <a href="{{ get_url(path=page.lower.path) }}">{{ page.lower.title }}</a>
      {% endif %}
    </span>
  {% endif %}
{% endblock %}
