{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% set max_events = 25 %}{% include "events/cm_list.html" %}

{% endblock content %}

{% block pagination %}
  <div class="links">
    <span></span>
    <span><a href="/e/" class="center">Older events</a></span>
  </div>
{% endblock %}

{% block extra_head %}
<script defer type="module">
import { extractEvents, createSection, cleanEmptyYears, sameDate } from '/events.js'

document.addEventListener('DOMContentLoaded', () => {
  const events = document.querySelector('ul.event-list-cm')
  const now = new Date()
  const todayEvents = extractEvents('ul.event-list-cm', (el) => sameDate(new Date(el.dataset.date), now))
  const upcomingEvents = extractEvents('ul.event-list-cm', (el) => (new Date(el.dataset.date) >= now))
  if (todayEvents) {
    const [head, today] = createSection(todayEvents, 'Today', events, 'h2')
    if (head) head.classList.add('events-today')
    if (today) today.classList.add('events-today')
  }
  createSection(upcomingEvents, 'Upcoming',events, 'h2')
  cleanEmptyYears('h2', 'ul.event-list-cm')
})
</script>
{% endblock %}
