{% extends "index.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% set_global all_events = section.pages %}
{% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path) %}
  {% set_global all_events = all_events | concat(with=subsection.pages) %}
{% endfor %}
{% set events_by_year = all_events | group_by(attribute="year") %}
{% set_global years = [] %}
{% for year, _ignore in events_by_year %}{% set_global years = years | concat(with=year) %}{% endfor %}

{% for thisyear in years|sort|reverse %}
    <h2>{{ thisyear }}</h2>
    <ul class="event-list">
        {% for page in events_by_year[thisyear] | sort(attribute="date") | reverse %}
        <li data-date="{{ page.date }}">
          {% set dt = page.date | date(format="%Y-%m-%d") -%}
          <time datetime="{{ dt }}">{{ dt }}</time>
          <a href="{{get_url(path=page.path)}}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}
{% block extra_head %}
<script defer type="module">
import { extractEvents, createSection, cleanEmptyYears, sameDate } from '/events.js'
document.addEventListener('DOMContentLoaded', () => {
  const events = document.querySelector('ul.event-list')
  const now = new Date(2026, 0, 16)
  const todayEvents = extractEvents('ul.event-list', (el) => sameDate(new Date(el.dataset.date), now))
  const upcomingEvents = extractEvents('ul.event-list', (el) => (new Date(el.dataset.date) >= now))
  if (todayEvents) {
    const [head, today] = createSection(todayEvents, 'Today', events, 'h2')
    if (today) today.classList.add('events-today')
  }
  createSection(upcomingEvents, 'Upcoming', events, 'h2')
  cleanEmptyYears('h2')
})
</script>
{% endblock %}
