{# Required vars:
- person_name: a string
- org_styles: config.extra.org_styles
- career_entry: an element of data/careers.json
- appearances_entry: an element of data/appearances.json
- all_matches: data/all_matches.json
#}
<span style="margin-inline-end: 0.25em">{{ person_name }}</code></span>
{% if career_entry %}
  {% set_global orgs = [] %}
  {% for _year, org_count in career_entry %}
    {% for org, _count in org_count %}
      {% if orgs is not containing(org) %}
        {% set_global orgs = orgs|concat(with=org) %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if appearances_entry|length < 5 %}
    {# Above that, and they should really have their own page #}
    {% for o in orgs %}
      {% set_global used_paths = [] %}
      {% set_global my_org_matches = [] %}
      {% for app in appearances_entry %}
        {% set match = all_matches[app] %}
        {% if match.o is containing(o) and used_paths is not containing(match.p) %}
          {% set_global my_org_matches = my_org_matches | concat(with=match) %}
          {% set_global used_paths = used_paths | concat(with=match.p) %}
        {% endif %}
      {% endfor %}
      {{ macros::promolink_color_span(code=o, styles=org_styles) }}
      {% for om in my_org_matches %}
        <a href="{{ get_url(path="@/" ~ om.p) }}">[{{ loop.index }}]</a>
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for o in orgs %}
      {{ macros::promolink_color_span(code=o, styles=org_styles) }}
    {% endfor %}
  {% endif %}
{% endif %}
