{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{# NOTE: must be in block content #}
{% if page.extra.gallery -%}{% set has_gallery = true %}{% endif %}
{% if not page.extra.hide_events -%}{% set has_events = true %}{% endif %}
{% if not page.extra.hide_roster -%}{% set has_roster = true %}{% endif %}

<h1>{{ page.title }}</h1>

{% if page.extra|get(key="toclevel", default=0) >= 1 %}
  {% include "page_toc.html" %}
{% endif %}

{{ page.content | safe }}

{% if has_events -%}
<h2 id="events">Events</h2>
{% include "events_from_org_taxonomy.html" -%}
{% endif -%}


{% if not page.extra.hide_roster -%}
  {% include "all_time_roster.html" -%}
{% endif -%}

{% if has_gallery -%}
  {% include "auto_lightbox.html" -%}
{% endif -%}

{% endblock content %}

{% block pagination %}
  {# In the event list, higher is an older event, and lower is a newer event #}
  {# In the org list, they are listed by weight ascending, but
     previous is lower weight, next is higher weight. #}
  <span class="prev">
    {% if page.lower %}
      Previous:
      <a href="{{ get_url(path=page.lower.path) }}">{{ page.lower.title }}</a>
    {% endif %}
  </span>
  <span class="prev">
    {% if page.higher %}
      Next:
      <a href="{{ get_url(path=page.higher.path) }}">{{ page.higher.title }}</a>
    {% endif %}
  </span>
{% endblock %}
