{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{# NOTE: must be in block content #}
{% if page.extra.gallery is defined -%}{% set has_gallery = true %}{% endif %}
{% if not page.extra.hide_events -%}{% set has_events = true %}{% endif %}
{% if not page.extra.hide_roster -%}{% set has_roster = true %}{% endif %}

<h1>{{ page.title }}</h1>

{% if page.extra|get(key="toclevel", default=0) >= 1 %}
  {% include "shared/toc.html" %}
{% endif %}

{{ page.content | safe }}

{% if has_events -%}
  <h2 id="events">Events</h2>
  {% include "orgs/calendar_link.html" %}

  {% if page.extra.compact_event_list %}
    {% include "events/from_org_taxonomy_compact.html" -%}
  {% else %}
    {% include "events/from_org_taxonomy.html" -%}
  {% endif -%}
{% endif -%}


{% if not page.extra.hide_roster -%}
  {% include "orgs/all_time_roster.html" -%}
{% endif -%}

{% if has_gallery -%}
  {% include "shared/auto_lightbox_dialog.html" -%}
{% endif -%}

{% endblock content %}

{% block extra_head %}
  {% if page.extra.hide_events or page.extra.compact_event_list -%}
  {% else %}
    <script defer type="module">
      import { extractEvents, sameDate, createSection, cleanEmptyYears } from '/events.js'
      document.addEventListener('DOMContentLoaded', () => {
        const now = new Date(2026, 0, 16)
        const todayEvents = extractEvents('ul.event-list', (el) => sameDate(new Date(el.dataset.date), now))
        const upcomingEvents = extractEvents('ul.event-list', (el) => (new Date(el.dataset.date) >= now))
        const list = document.querySelector('ul.event-list')
        if (todayEvents) {
          const [_, today] = createSection(todayEvents, 'Today', list, 'h3')
          if (today)
            today.classList.add('events-today')
        }
        createSection(upcomingEvents, 'Upcoming', list, 'h3')
        cleanEmptyYears('h3')
      })
    </script>
  {% endif %}
{% endblock extra_head %}
