{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{% if page.extra.gallery is defined -%}{% set has_gallery = true %}{% endif %}
{% if not page.extra.omit_career -%}{% set has_career = true %}{% endif %}

{% include "talent/h1_with_flag.html"%}

{% if page.extra|get(key="toclevel", default=0) >= 1 %}
  {% include "shared/toc.html" %}
{% endif %}

{{ page.content | safe }}

{% set use_extra_gallery = true %}
{% include "shared/auto_lightbox_dialog.html" -%}

{% if has_career -%}
  <h2 id="career">Career</h2>
  {% include "career/section.html" %}
{% endif %}

<p class="tagsData">
    {% if page.taxonomies.tags %}
    {% for tag in page.taxonomies.tags %}
    <a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
    {% endfor %}
    {% endif %}
</p>
{% endblock content %}
