{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{% set has_gallery = page.extra.gallery is defined %}
{% if not page.extra.omit_career -%}{% set has_career = true %}{% endif %}

{% include "talent/h1_with_flag.html"%}

{% if page.extra|get(key="toclevel", default=0) >= 1 %}
  {% include "shared/toc.html" %}
{% endif %}

{{ page.content | safe }}

{% set use_extra_gallery = true %}
{% include "shared/auto_lightbox_dialog.html" -%}

{% if has_career -%}
  <h2 id="career">Career</h2>
  {% include "career/section.html" %}
{% endif %}
{% endblock content %}
