{% extends "base.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{% if page.extra.gallery is defined -%}{% set has_gallery = true %}{% endif %}
{% if not page.extra.omit_career -%}{% set has_career = true %}{% endif %}

{% include "team/h1_with_orgs.html"%}

{% if page.extra|get(key="toclevel", default=0) >= 1 %}
  {% include "shared/toc.html" %}
{% endif %}

{{ page.content | safe }}

{% set use_extra_gallery = false %}
{% include "shared/auto_lightbox_dialog.html" -%}

{% if has_career -%}
  <h2 id="career">Career</h2>
  {% include "career/team_section.html" %}
{% endif %}

{% endblock content %}
