{% extends "index.html" %}
{%- import "macros/career.html" as macros %}

{% block content %}
{% set section = get_section(path="e/_index.md") %}
{% set venues_section = get_section(path="v/_index.md") %}
<h1>{{ section.title }}</h1>

Add these events to your calendar by subscribing to <a href="{{ get_url(path="calendar.ics", trailing_slash=false) }}">calendar.ics</a>.

{% set_global all_events = section.pages %}
{% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path) %}
  {% set_global all_events = all_events | concat(with=subsection.pages) %}
{% endfor %}
{% set events_by_year = all_events | group_by(attribute="year") %}
{% set_global years = [] %}
{% for year, _ignore in events_by_year %}{% set_global years = years | concat(with=year) %}{% endfor %}

{% for thisyear in years|sort|reverse %}
    <h2>{{ thisyear }}</h2>
    <ul class="event-list-cm">
        {% for page in events_by_year[thisyear] | sort(attribute="date") | reverse %}
        <li>
           <time>{{page.date}}</time>
           <span class="o">{% include "event_org_badges.html" %}</span>
           <a class="p" href="{{get_url(path=page.path)}}">{{ page.title }}</a>
           <span class="c">
              {% if page.extra.city %}
                {% if page.extra.city is iterable %}
                  {% set cities = page.extra.city | join(sep=" / ") %}
                {% elif page.extra.city is string %}
                  {% set cities = page.extra.city %}
                {% endif %}
              {% else %}
                {% set cities = "" %}
              {% endif %}
             {{ cities -}}
              {%- if cities and page.taxonomies.venue -%}
                {%- set venue = page.taxonomies.venue | first -%}
                {%- set venue_page = venues_section.pages | filter(attribute="slug", value=venue) | first -%}
                {%- if venue_page and not venue_page.extra.skip_event_list -%}
                  , <a href="{{ venue_page.path }}">{{ venue_page.title }}</a>
                {%- endif -%}
              {% endif %}
           </span>
        </li>
        {% endfor %}
    </ul>
{% endfor %}

{{ section.content | safe }}
{% endblock content %}
