.ipa-play-icon
  margin-right: 0.25rem

.feather-base
  stroke: currentColor
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round
  fill: none
  vertical-align: middle

.feather
  @extend .feather-base
  width: 32px
  height: 32px
  vertical-align: text-bottom

  &.dim
    filter: opacity(0.3)

.feather-inline,.feather-nav
  @extend .feather
  width: 1.5rem
  height: 1.5rem

  &.av
    width: 1rem
    height: 1rem
    padding: 0.15rem 0

.feather-tl
  @extend .feather-base
  height: 1.15rem

.badge
  &.ib
    display: inline-block

  &.stretchy
    margin: 0 0.25em
    text-align: center

    small
      font-size: 0.9rem
      vertical-align: center

  .org-badge
    padding: 0 0.4em
    font-family: monospace
    color: transparent
    white-space: nowrap

  &.bw .org-badge
    padding: 0 0.1em

@keyframes gradient-shift
  0%
    background-position: 0% 0%
  100%
    background-position: 133.3333% 0%


a:not(dialog *):not([data-theme=og] *):not(.logo)
  background-size: 400% 100%
  animation: gradient-shift 6s linear infinite

  &:hover
    /* background-image: linear-gradient(90deg, hsl(0, 100%, 50%), hsl(33, 100%, 50%), hsl(66, 100%, 50%), hsl(99, 100%, 50%), hsl(132, 100%, 50%), hsl(165, 100%, 50%), hsl(198, 100%, 50%), hsl(231, 100%, 50%), hsl(264, 100%, 50%), hsl(297, 100%, 50%), hsl(330, 100%, 50%), hsl(360, 100%, 50%))
    background-image: linear-gradient(90deg, #ff69b4 0% 12.5%, #ff0000 12.5% 25%, #ff8e00 25% 37.5%, #ffff00 37.5% 50%, #008e00 50% 62.5%, #00c0c0 62.5% 75%, #400090 75% 87.5%, #8e008e 87.5% 100%)
    will-change: background-position

    -webkit-background-clip: text
    background-clip: text
    color: transparent

    .feather, .feather-nav
      background: none
      -webkit-background-clip: border-box
      background-clip: border-box

      stroke: url(#rainbow-stroke-baker) !important
