{% set root = config.extra.gallery_root ~ page.path %}
{% set sprite = get_url(path="lucide-sprite.svg", trailing_slash=false) %}
{% set empty_obj = []|group_by(attribute='0') %}
{# NOTE: This logic is repeated in articles.html macro, and in og_gallery_extractor.html #}
{% if page.extra.gallery.manifest %}
  {% set manifest_location = page.extra.gallery.manifest %}
  {% set gallery_items = load_data(path=manifest_location) %}
{% else %}{# Manifest unset. Try autodiscovering it. #}
    {% set manifest_location = '@/' ~ page.relative_path | replace(from='.md', to='.toml') %}
    {% set manifest_items = load_data(path=manifest_location, required=false) %}
    {% if manifest_items %}
        {% set gallery_items = manifest_items %}
    {% endif %}
    {% set manifest_location = '@/' ~ page.relative_path | replace(from='.md', to='-gallery.toml') %}
    {% set manifest_items = load_data(path=manifest_location, required=false) %}
    {% if manifest_items %}
        {% set gallery_items = manifest_items %}
    {% endif %}
{% endif %}

{% if not gallery_items %}
    {% set gallery_items = page.extra | get(key='gallery', default=empty_obj) %}
{% endif %}

{% if use_extra_gallery %}
  {% set all_photos = load_data(path='data/all_photos.json') %}
  {% set photo_taggings = load_data(path='data/photo_taggings.json') %}
  {% set page_path = page.relative_path %}
  {% set my_photos = photo_taggings | get(key=page_path, default=[]) %}
  {% set extra_gallery = [] %}
  {% for num in my_photos %}
    {% set other_photo = all_photos[num] %}
    {% set_global extra_gallery = extra_gallery | concat(with=[other_photo]) %}
  {% endfor %}
{% endif %}
{% include "shared/lightbox.html" %}
{% if gallery_items %}
  {% set collapse = page.extra | get(key='collapse_gallery', default='auto') %}
  <h2 id="gallery">Gallery</h2>
    <ul class="gallery main-gallery"
        {% if collapse == 'auto' %}
          data-collapse-gallery="auto"
        {% elif collapse == true %}
          data-collapse-gallery="collapse"
        {% endif %}
    >
      {% for key, item in gallery_items %}
        {% set path = item.path -%}
        {% set caption = item | get(key="caption", default="") -%}
        {% include "shared/gallery_item.html" %}
      {% endfor %}
    </ul>
{% endif %}
{% if use_extra_gallery and extra_gallery %}
  <details>
    <summary class="header h2-like">Photos from events</summary>
    <ul class="gallery">
      {% for elem in extra_gallery %}
        {% set key = elem[0] %}
        {% set item = elem[1] %}
        {% include "shared/gallery_extra_item.html" %}
      {% endfor %}
    </ul>
  </details>
{% endif %}
<script id="pluralization-rules" type="text/json">
{
    "photos hidden": {
      "one": "1 photo hidden",
      "other": "$n photos hidden"
    }
}
</script>
<script type="module" src="/gallery.js"></script>
