{% set root = config.extra.gallery_root ~ page.path %}
<h2 id="gallery">Gallery</h2>
<dialog id="lb" data-controller="lightbox" data-lightbox-target="dialog" data-action="keydown.right->lightbox#next keydown.left->lightbox#prev">
  <form method="dialog">
    <button type="submit" autofocus data-lightbox-target="close">
      <span aria-hidden class="closebtn">×</span>
      <span class="sr-only">Close popup</span>
    </button>
  </form>
  <button class="prev" type="button" data-lightbox-target="prev" data-action="lightbox#prev">
    <span aria-hidden>«</span>
    <span class="sr-only">Previous image</span>
  </button>
  <button class="next" type="button" data-lightbox-target="next" data-action="lightbox#next">
    <span aria-hidden>»</span>
    <span class="sr-only">Next image</span>
  </button>
  <figure>
    <img data-lightbox-target="img" data-action="load->lightbox#adjust" />
    <figcaption data-lightbox-target="caption">
      <p data-lightbox-target="desc"></p>
      <small data-lightbox-target="attribution"></small>
    </figcaption>
  </figure>
</dialog>
<section>
  <ul class="gallery"
      data-controller="gallery"
      data-gallery-lightbox-outlet="dialog"
  >
    {% if page.extra.gallery.manifest %}
      {% set gallery_items = load_data(path=page.extra.gallery.manifest) %}
    {% else %}
      {% set gallery_items = page.extra.gallery %}
    {% endif %}
    {% for key, item in gallery_items %}
      {% set path = item.path -%}
      {% set caption = item | get(key="caption", default="") -%}
      <li>
        <figure id="fig{{ loop.index }}" data-path="{{ root ~ path }}" data-gallery-target="figure">
          <a href="#img{{ loop.index }}" class="tn" data-action="gallery#open:prevent">
            <img src="{{ root ~ 'tn/' ~ path }}" alt=""/>
          </a>

          <a class="lightbox" href="#fig{{ loop.index }}" id="img{{ loop.index }}">
            <span style="background-image: url('{{ root ~ path }}')"></span>
          </a>
          <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
          <data class="attribution">{{ item | get(key="source", default="") | markdown(inline=true) | safe }}</data>
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>
<script type="module" src="/gallery.js"></script>
