{% set path = item.path -%}
{% set thumb = item.thumb -%}
{% set event_link = item.event %}
{% set caption = item | get(key="caption", default="") -%}
{% set source = item | get(key="source", default="") -%}
{%- if not source %}{% set source = "" %}{% endif -%}
<li>
  <figure id="fig_{{ key }}" data-path="{{ config.extra.gallery_root ~ path }}">
    <a href="#img_{{ key }}" class="tn">
      <img src="{{ config.extra.gallery_root ~ thumb }}" alt=""/>
    </a>

    <a class="lightbox" href="#fig_{{ key }}" id="img_{{ key }}">
      <span style="background-image: url('{{ config.extra.gallery_root ~ path }}')"></span>
    </a>
    <figcaption>
      {{ caption | markdown(inline=true) | safe }}
      <br/>
      <small>From: {{ event_link | markdown(inline=true) | safe }}</small>
    </figcaption>
    <data class="attribution">{{ source | markdown(inline=true) | safe }}</data>
  </figure>
</li>
