<li>
  <figure id="fig{{ loop.index }}" data-path="{{ root ~ path }}">
    <a href="#img{{ loop.index }}" class="tn">
      <img src="{{ root ~ 'tn/' ~ path }}" alt=""/>
    </a>

    <a class="lightbox" href="#fig{{ loop.index }}" id="img{{ loop.index }}">
      <span style="background-image: url('{{ root ~ path }}')"></span>
    </a>
    <figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
    <data class="attribution">{{ item | get(key="source", default="") | markdown(inline=true) | safe }}</data>
  </figure>
</li>
