{% set toclevel = page.extra.toclevel %}
<details class="toc" open>
  <summary>Table of contents</summary>
  <ol>
    {% for toplevel in page.toc %}
      <li>
        <a href="{{ toplevel.permalink | safe }}">{{ toplevel.title }}</a>
        {% if toclevel >= 2 %}
          <ol>
          {% for secondlevel in toplevel.children %}
            <li>
              <a href="{{ secondlevel.permalink | safe }}">{{ secondlevel.title }}</a>
              {% if toclevel >= 3 %}
                <ol>
                  {% for thirdlevel in secondlevel.children %}
                    <li>
                      <a href="{{ thirdlevel.permalink | safe }}">{{ thirdlevel.title }}</a>
                    </li>
                  {% endfor %}
                </ol>
              {% endif %}
            </li>
          {% endfor %}
          </ol>
        {% endif %}
      </li>
    {% endfor %}
    {% if has_events %}
      <li>
        <a href="#events">Events</a>
      </li>
    {% endif %}
    {% if has_roster %}
      <li>
        <a href="#all-time-roster">All-time roster</a>
      </li>
    {% endif %}
    {% if has_gallery %}
      <li>
        <a href="#gallery">Gallery</a>
      </li>
    {% endif %}
    {% if has_career %}
      <li>
        <a href="#career">Career</a>
      </li>
    {% endif %}
  </ol>
</details>
