{# Display alternate venue name if the venue key doesn't match a page directly #}
{# Variables:
  `venue` a page slug
  `cities` city name to display
  `venues_section` the section containing venue pages
#}
{%- set main_page = venues_section.pages | filter(attribute="slug", value=venue) | first -%}
{%- if main_page and not main_page.extra.skip_event_list -%}
  {{ cities }}, <a href="{{ main_page.path }}">{{ main_page.title }}</a>
{%- elif not main_page -%}
  {%- set term = get_taxonomy_term(kind="same-venue", term=venue, required=false) -%}
  {%- if not term -%}
    {{ cities }}
  {%- else -%}
    {%- set page = term.pages | first -%}
    {%- set alt_title = page.extra.venue_names | get(key=venue, default=page.title) -%}
    {{ cities }}, <a href="{{ page.path }}">{{ alt_title }}</a>
  {%- endif -%}
{%- endif -%}
