{% set events_taxonomy = get_taxonomy(kind="chronology") %}
{% set orgs_event_pages = events_taxonomy.items | filter(attribute="slug", value=page.slug) | map(attribute="pages") | first %}
{% if orgs_event_pages != "" %}
  {% set events_by_year = orgs_event_pages | group_by(attribute="year") -%}
  {% set_global years = [] -%}
  {% for year, _ign in events_by_year -%}{% set_global years = years | concat(with=year) %}{% endfor -%}
  {% set lowest_year = page.extra | get(key="year_list_start", default=2001) | int(default=2019) -%}
  {% set highest_year = page.extra | get(key="year_list_end", default=2099) | int(default=2099) -%}

  {% for thisyear in years|sort|reverse -%}
    {% if thisyear|int >= lowest_year and thisyear|int <= highest_year -%}
      {% set_global my_events_thisyear = events_by_year[thisyear] -%}

      {% if my_events_thisyear | length == 0 -%}{% continue -%}{% endif -%}
      <h3>{{ thisyear }}</h3>
      <ul class="event-list">
        {% for event_page in my_events_thisyear | sort(attribute="date") | reverse -%}
          <li data-date="{{ event_page.date }}">
            {% set dt = event_page.date | date(format="%Y-%m-%d") -%}
            <time datetime="{{ dt }}">{{ dt }}</time>
            {%- set has_photos = event_page.extra is containing("gallery") -%}
            {%- set has_video = event_page.extra | get(key="has_video", default=false) -%}
            {%- include "events/av_icons.html" -%}
            <a class="nu" href="{{ get_url(path=event_page.path) }}" {% include "events/link_aria.html" %}>
              {{ event_page.title }}
            </a>
          </li>
        {% endfor -%}
      </ul>
    {% endif -%}
  {% endfor -%}
{% endif %}
