{% set events_taxonomy = get_taxonomy(kind="chronology") %}
{% set orgs_event_pages = events_taxonomy.items | filter(attribute="slug", value=page.slug) | map(attribute="pages") | first %}
{% if orgs_event_pages != "" %}
  <ul class="event-list">
    {% for event_page in orgs_event_pages | sort(attribute="date") | reverse -%}
      <li data-date="{{ event_page.date }}">
        {% set dt = event_page.date | date(format="%Y-%m-%d") -%}
        <time datetime="{{ dt }}">{{ dt }}</time>
        {%- set has_photos = event_page.extra is containing("gallery") -%}
        {%- set has_video = event_page.extra | get(key="has_video", default=false) -%}
        {%- include "events/av_icons.html" -%}
        <a class="nu" href="{{ get_url(path=event_page.path) }}" {% include "events/link_aria.html" %}>
          {{ event_page.title }}
        </a>
      </li>
     {% endfor %}
  </ul>
{% endif %}
