{% if page.extra.hide_pagination %}
  {% set taxonomy_orgs = [] %}
{% else %}
  {# Get orgs our event page belongs to #}
  {% set taxonomy_orgs = page.taxonomies | get(key='chronology', default=[]) %}
{% endif %}

{% if taxonomy_orgs %}
  <h3>Chronology</h3>
{% endif %}

{% set_global term_higher_lower_triplets = [] %}
{% for taxonomy_org in taxonomy_orgs %}
  {% set relevant_chrono = get_taxonomy_term(kind="chronology", term=taxonomy_org) %}
  {% set sorted_chrono_pages = relevant_chrono.pages | sort(attribute="date") | reverse %}
  {% set_global lower_index = -1 %}
  {% set_global higher_index = 1 %}
  {% for rel_chrono_page in sorted_chrono_pages %}
    {% if rel_chrono_page.slug == page.slug %} {# Compare slugs to include date #}
      {% break %}
    {% else %}
      {% set_global higher_index = higher_index + 1 %}
      {% set_global lower_index = lower_index + 1 %}
    {% endif %}
  {% endfor %}
  {% set triplet = [taxonomy_org] %}
  {% if lower_index >= 0 %}
    {% set triplet = triplet|concat(with=sorted_chrono_pages|nth(n=lower_index)) %}
  {% else %}
    {% set triplet = triplet|concat(with=false) %}
  {% endif %}
  {% if higher_index < relevant_chrono.pages|length %}
    {% set triplet = triplet|concat(with=sorted_chrono_pages|nth(n=higher_index)) %}
  {% else %}
    {% set triplet = triplet|concat(with=false) %}
  {% endif %}
  {% set_global term_higher_lower_triplets = term_higher_lower_triplets|concat(with=[triplet]) %}
{% endfor %}

{% set keyed_higher_lower_triplets = term_higher_lower_triplets | group_by(attribute='0') %}

{% set chrono_roots = get_taxonomy(kind="chrono_root") | get(key='items') | group_by(attribute='name') %}
{% for key, triplets in keyed_higher_lower_triplets %}
  {% set triplet = triplets | first %}
  {% set lower_page = triplet[1] %}
  {% set higher_page = triplet[2] %}
  {% if not lower_page and not higher_page %}
    {# Nothing else in that chronology, skip #}
    {% continue %}
  {% endif %}
  {% set root = chrono_roots | get(key=key, default=false) %}
  <div class="org-header">
    {% if root %}
      {% set root_page = root | first | get(key='pages') | first %}
        <span>
          <a href="{{ get_url(path=root_page.path) }}">{{ root_page.title }}</a>
          event timeline
        </span>
    {% else %}
        <span>
          {% set loud_default = "<strong>!!" ~ key ~ "!!</strong>" %}
          {{ config.extra.chronology | get(key=key, default=loud_default) | safe }}
          event timeline
        </span>
    {% endif %}
  </div>
  <div class="links">
    {% if higher_page %}
      <span>
        Preceding:
        <a href="{{ get_url(path=higher_page.path) }}">{{ higher_page.title }}</a>
      </span>
    {% else %}
      <span></span>
    {% endif %}
    {% if lower_page %}
      <span>
        Following:
        <a href="{{ get_url(path=lower_page.path) }}">{{ lower_page.title }}</a>
      </span>
    {% else %}
      <span></span>
    {% endif %}
  </div>
{% endfor %}
