# On every push this script is executed
on: push
name: Lint and verify metadata
jobs:
  build:
    runs-on: ubuntu-latest
    permissions: { issues: write, pull-requests: write }
    steps:
      - uses: actions/checkout@v4
      - name: Install zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.12.4'
          cache: pip
      - name: Install required Python packages
        run: pip install -r requirements.txt
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: npm
      - name: Install nodejs modules
        run: npm install
      - name: Build metadata
        run: |
          make all plot
      - name: Run lint and create comment
        run: |
          bin/lint
      - name: Lint championship articles
        run: |
          bin/lint -L ChampionshipUpdated -- content/c/
      - name: Build site
        run: |
          zola build
